.googleBtn {
    border: 1px solid var(--border-color);
    background-color: #FFFFFF;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-radius: 5px;
    margin-top: 40px;

    &:hover{
        border-color: #D2E3FC;
        background-color: #F8FAFF;
    }
}