footer {
    padding: 10px;
    margin-top: 60px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: var(--color);

        &:hover {
            cursor: pointer;
            color: var(--hover-color);
            text-decoration: underline;
        }
    }
}