.header {
    background-color: var(--bg-color);
    .btn-close{
        background-color: #fff;
        color: #fff;
    }
}

.body {
    flex-direction: column;
    background-color: var(--bg-color);
}

.logout {
    display: flex;
    gap: 8px;
    margin-left: auto;
    &:hover{
        color: var(--hover-color);
        cursor: pointer;

        path{
            stroke: var(--hover-color);
        }
    }
}

.link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color);

    &:hover {
        text-decoration: underline;
    }
}

.linkSecond {
    @extend .link;
    text-transform: none;
}

.logIn {
    @extend .linkSecond;
    margin-left: auto;
}

.text {
    color: var(--color);
}

.searchInput {
    position: relative;
    max-width: 400px;
    width: 100%;
}

.searchIcon {
    position: absolute;
    top: 5px;
    right: 10px;
}

.burgerBtn {
    background-color: #fff !important;
}

@media (max-width: 767.98px) {

    .logout {
        margin: 10px auto 0 auto;
    }

    .searchInput {
        width: 100%;
        margin: 20px 0 30px;
    }

    .logIn {
        margin-left: 0;
    }
}
