.CommentCard {
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.userField {
    display: inline-flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.user {
    path {
        fill: var(--color);
    }
}
