.CommentCard {
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.user {
    margin-right: 5px;
    cursor: pointer;
    path {
        fill: var(--color);
    }
}
